load_module /usr/lib/nginx/modules/ngx_stream_module.so;
daemon off;
worker_processes auto;

# https://www.cyberciti.biz/faq/linux-unix-nginx-too-many-open-files
worker_rlimit_nofile {{ shadowsocks_gateway_worker_rlimit_nofile }};
pid {{ shadowsocks_gateway_pid_path }};

events {
    worker_connections {{ shadowsocks_gateway_worker_connections }};
}

http {
    access_log off;
    error_log {{ shadowsocks_gateway_error_log_path }};

    server {
        listen *:80;
        listen [::]:80;
        server_name _;
        return 301 https://{{ shadowsocks_gateway_fallback_proxy_target }};
    }

{% if 'prometheus_metrics' in server %}
    server {
        listen *:{{ server.prometheus_metrics.port }} ssl http2;
        listen [::]:{{ server.prometheus_metrics.port }} ssl http2;

        ssl_certificate {{ shadowsocks_gateway_certificate_path }};
        ssl_certificate_key {{ shadowsocks_gateway_key_path }};
        ssl_protocols TLSv1.2 TLSv1.3;

        location {{ server.prometheus_metrics.shadowsocks.url_path }} {
            proxy_pass http://localhost:{{ shadowsocks_metrics_port }}/metrics;
        }

        location {{ server.prometheus_metrics.node_exporter.url_path }} {
            proxy_pass http://localhost:{{ node_exporter_port }}/metrics;
        }

        location / {
            return 444;
        }

        error_page 404 = @redirect;

        location @redirect {
            return 444;
        }
    }
{% endif %}
}

stream {
    access_log off;
    error_log {{ shadowsocks_gateway_error_log_path }};

    map $ssl_preread_protocol $backend {
        default shadowsocks_backend;
        "TLSv1.0" https_backend;
        "TLSv1.2" https_backend;
        "TLSv1.3" https_backend;
    }

    upstream https_backend {
        server {{ shadowsocks_gateway_fallback_proxy_target }};
    }

    upstream shadowsocks_backend {
        server localhost:{{ shadowsocks_port }};
    }

    server {
        listen *:{{ server.port }};
        proxy_timeout 5s;
        ssl_preread on;

        proxy_pass $backend;
    }

    server {
        listen *:{{ server.port }} udp;

        proxy_pass shadowsocks_backend;
    }
}
