[Unit]
Description=shadowsocks-gateway
After=shadowsocks.service

[Service]
User={{ shadowsocks_gateway_user }}
ExecStart=/usr/sbin/nginx -c {{ shadowsocks_gateway_nginx_conf_path }}
Restart=always

[Install]
WantedBy=multi-user.target
