username,uuid,instructions link
{% for user in users_csv_users | dict2items %}
{{ user.value.name }},{{ user.key }},https://{{ users_csv_frontman_domain }}:{{ users_csv_frontman_port }}#{{ user.key }}
{% endfor %}
