# https://github.com/Jigsaw-Code/outline-ss-server/blob/master/cmd/outline-ss-server/config_example.yml

services:
  - listeners:
      - type: tcp
        address: "{{ shadowsocks_listen_address }}:{{ shadowsocks_port }}"
      - type: udp
        address: "{{ shadowsocks_listen_address }}:{{ shadowsocks_port }}"
    keys:
{% for user in shadowsocks_users | dict2items %}
      - cipher: {{ shadowsocks_server.method }}
        id: {{ user.value.name }}
        secret: {{ (user.key + shadowsocks_server.port | string + shadowsocks_server.method + shadowsocks_server_uuid | string + shadowsocks_server.secret | string) | hash('sha512') }}
{% endfor %}
