[Unit]
Description=dynamic-dns
After=network.service
Requires=dynamic-dns.timer

[Service]
Type=simple
User={{ dynamic_dns_user }}
ExecStart=/home/{{ dynamic_dns_user }}/{{ dynamic_dns_executable_name }} "{{ domain }}" "{{ record }}" "{{ dynamic_dns_godaddy_api_key }}"

[Install]
WantedBy=multi-user.target
