{% for user in users.keys() %}
{{ loop.index }}. {{ user }}:
{% for config in users[user] %}
  {{ loop.index }}. https://{{ frontman_domain }}:{{ frontman_port }}#ssconf://{{ frontman_domain }}:{{ frontman_port }}/{{ config.uuid }}
{% endfor %}

{% endfor %}
