keys:
{% for ss_username in users.keys() %}
{% for ss_client in users[ss_username] %}
  - cipher: {{ server.ss_cipher }}
    id: '{{ ss_username }}-{{ loop.index }}'
    port: {{ server.ss_port }}
    secret: {{ ss_client.secret }}
{% endfor %}
{% endfor %}
