global:
  scrape_interval: 1m
scrape_configs:
  - job_name: outline-server-ss
    static_configs:
      - targets:
          - '127.0.0.1:{{ shadowsocks_metrics_port }}'
        labels:
          instance: '{{ server.uuid }}'
  - job_name: node-exporter
    static_configs:
      - targets:
          - '127.0.0.1:{{ node_exporter_port }}'
        labels:
          instance: '{{ server.uuid }}'
remote_write:
  - url: {{ prometheus_remote.url }}
    basic_auth:
      username: {{ prometheus_remote.username }}
      password: {{ prometheus_remote.password }}
