global:
  scrape_interval: 1m
scrape_configs:
{% for server in servers %}
{% if 'prometheus_metrics' in server %}
  - job_name: 'shadowsocks-{{ server.host }}'
    scheme: https
    tls_config:
      ca_file: '/home/{{ prometheus_user }}/{{ prometheus_scrape_ssl_certs_dir_name }}/{{ server.uuid }}-{{ prometheus_scrape_ssl_cert_filename_suffix }}'
    metrics_path: '{{ server.prometheus_metrics.shadowsocks.url_path }}'
    static_configs:
      - targets:
        - '{{ server.host }}:{{ server.prometheus_metrics.port }}'
        labels:
          instance: '{{ server.host }}'
  - job_name: 'node-exporter-{{ server.host }}'
    scheme: https
    tls_config:
      ca_file: '/home/{{ prometheus_user }}/{{ prometheus_scrape_ssl_certs_dir_name }}/{{ server.uuid }}-{{ prometheus_scrape_ssl_cert_filename_suffix }}'
    metrics_path: '{{ server.prometheus_metrics.node_exporter.url_path }}'
    static_configs:
      - targets:
        - '{{ server.host }}:{{ server.prometheus_metrics.port }}'
        labels:
          instance: '{{ server.host }}'
{% endif %}
{% endfor %}
remote_write:
  - url: {{ prometheus_remote.url }}
    basic_auth:
      username: {{ prometheus_remote.username }}
      password: {{ prometheus_remote.password }}
