[Unit]
Description=prometheus
After=outline.service

[Service]
User={{ prometheus_user }}
WorkingDirectory=/home/{{ prometheus_user }}
ExecStart=/home/{{ prometheus_user }}/{{ prometheus_downloads[arch.stdout].directory }}/{{ prometheus_executable_name }} --config.file /home/{{ prometheus_user }}/config.yml --web.listen-address 0.0.0.0:{{ prometheus_port }} --web.external-url https://{{ frontman_domain }}:{{ prometheus_port }} --web.config.file /home/{{ prometheus_user }}/web-config.yml --storage.tsdb.retention.time {{ prometheus_retention }}
Restart=always

[Install]
WantedBy=multi-user.target
