{
    "version": 1,
    "servers": [
        {% for server in servers %}
            {
                "id": "{{ server.uuid }}",
                "remarks": "{{ server.remarks }}",
                "server": "{{ server.domain }}",
                "server_port": {{ server.ss_port }},
                "password": "{{ client.secret }}",
                "method": "{{ server.ss_cipher }}"
            }
            {% if not loop.last %}
            ,
            {% endif %}
        {% endfor %}
    ],

    "instruction_url": "https://{{ frontman_domain }}:{{ frontman_port }}/{{ instruction_filename }}#{{ client.uuid }}",

    "comment": "the fields below are specifically for Outline client as it does not support the latest version of SIP008",

    "method": "{{ default_server.ss_cipher }}",
    "password": "{{ client.secret }}",
    "prefix": "{{ prefix }}",
    "server":"{{ default_server.domain }}",
    "server_port":"{{ default_server.ss_port }}"
}
