{
    "version": 1,
    "servers": [
        {% for server in servers %}
            {
                "id": "{{ server.uuid }}",
                "remarks": "{{ server.remarks }}",
                "server": "{{ server.host }}",
                "server_port": {{ server.port }},
                "password": "{{ (user_uuid + server.port | string + server.method + server.uuid | string) | hash('sha512') }}",
                "method": "{{ server.method }}"
            }
            {% if not loop.last %}
            ,
            {% endif %}
        {% endfor %}
    ],

    "instruction_url": "https://{{ frontman_domain }}:{{ frontman_port }}/{{ instruction_filename }}#{{ user_uuid }}",

    "comment": "the fields below are specifically for Outline client as it does not support the latest version of SIP008",

    "method": "{{ default_server.method }}",
    "password": "{{ (user_uuid + default_server.port | string + default_server.method + default_server.uuid | string) | hash('sha512') }}",
    "prefix": "POST",
    "server":"{{ default_server.host }}",
    "server_port":"{{ default_server.port }}"
}
