<!DOCTYPE html>
<html style="background-color: gray; display: flex; justify-content: center;">
<head>
    <title>Redirect Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        const redirect = function (url) {
            window.location.href = url || "{{ default_redirect }}";
        };

        window.onload = function () {
            const hash = window.location.hash;

            if (hash) {
                let url;
                if (hash.startsWith("#ssconf://")) {
                    url = "https://" + hash.slice(9);
                } else {
                    url = "/" + hash.slice(1);
                }
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        const instructionUrl = data["instruction_url"];
                        if (instructionUrl) {
                            redirect(instructionUrl);
                        } else {
                            redirect();
                        }
                    })
                    .catch(() => redirect());
            } else {
                redirect();
            }
        };
    </script>
</head>
<body>
Redirecting...
</body>
</html>
