daemon off;
worker_processes auto;

pid {{ frontman_pid_path }};

events {
    worker_connections 1024;
}

http {
    access_log off;
    error_log {{ frontman_error_log_path }};

    server {
        listen {{ frontman_port }} ssl http2;
        server_name {{ frontman_domain }};

        ssl_certificate {{ frontman_ssl_cert_path }};
        ssl_certificate_key {{ frontman_ssl_key_path }};
        ssl_protocols TLSv1.2 TLSv1.3;

        location / {
            root {{ frontman_static_directory_path }};
            try_files $uri $uri/ =404;

            # https://github.com/Jigsaw-Code/outline-apps/issues/1596#issuecomment-1472114860
            add_header access-control-allow-methods "HEAD, OPTIONS, GET";
            add_header access-control-allow-origin app://localhost;
        }

        error_page 404 = @redirect;

        location @redirect {
            return 302 {{ frontman_default_redirect }};
        }
    }
}
