[Unit]
Description=node_exporter

[Service]
User={{ user }}
WorkingDirectory=/home/{{ user }}
ExecStart=/home/{{ user }}/{{ downloads[arch.stdout].directory }}/{{ executable_name }} --web.listen-address=:{{ node_exporter_port }}
Restart=always

[Install]
WantedBy=multi-user.target
