[Unit]
Description=node_exporter

[Service]
User={{ node_exporter_user }}
WorkingDirectory=/home/{{ node_exporter_user }}
ExecStart=/home/{{ node_exporter_user }}/{{ node_exporter_downloads[arch.stdout].directory }}/{{ node_exporter_executable_name }} --web.listen-address=:{{ node_exporter_port }}
Restart=always

[Install]
WantedBy=multi-user.target
